<footer class="footer">
    <div class="footer-row">
        <div class="footer-row1">
            <div class="footer-col-city">
                <a>Brugge</a>
            </div>
            <div class="footer-col-tel">
                <a>+32-2-555-12-12</a>
            </div>
            <div class="footer-col-email">
                <a>polkin_out@outlook.com</a>
            </div>
        </div>
        
        <div class="footer-row2">
            <div class="footer-col-year">
                <p>© @DateTime.Now.Year Hotel «Lay low», city Bruges. Official site. All rights reserved.
                    (Not :))</p>
            </div>
        </div>
        
    </div>
</footer>
