<div class="menu-list-container">
    <ul class="menu-list">
        <li><a asp-controller="Home" asp-action="Index">About</a></li>
        <li><a asp-controller="Room" asp-action="Index">Rooms</a></li>
        <li><a asp-controller="Home" asp-action="Contacts">Contacts</a></li>
    </ul>
</div>